header {
    background-color: #bbbbbb;
    padding: 20px 0
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto
}

nav{
   position: absolute;
   top: 110px;
   right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 14pt;
}

nav a:hover{
    color: rgb(175, 56, 56);
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0 0 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: #000000 2px solid;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: rgb(175, 56, 56);
    cursor: pointer;
}

.produtos li:hover h2{
    font-size: 25pt;
}

.produtos li:active{
    border-color: rgb(43, 177, 38);
    cursor: pointer;
}

.produtos h2{
    font-weight: bold;
    font-size: 20pt;
}

.produtos .produto-descricao{
    font-size: 14pt;
}

.produtos .produto-preco{
    font-weight: bold;
    font-size: 18pt;
    margin-top: 10px;
}

footer {
    margin-top: 20px;
    padding: 40px 0;
    text-align: center;
    background: url("../img/bg.jpg");
}

footer p{
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin-top: 20px;
    font-family: monospace;
}